@font-face {
  font-family: "my-font";
  src: url(../assets/font/UtopiaStd-Bold.otf) format("opentype"),
    url(../assets/font/UtopiaStd-Regular.otf) format("opentype");
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1400px // Custom width for the xxl breakpoint,,,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #c08f43;
$primary-bg-color: #141217;
$secondary-bg-color: #232227;
$text-color: #fff;
$font-family: "my-font";
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 22px;
$h4-font-size: 16px;
$p-font-size: 18px;
$global-sec-pad: 100px;

body {
  background-color: $primary-bg-color;
  font-family: $font-family;
}

@mixin setFontType($color, $family) {
  font-family: $family;
  color: $color;
}

@mixin responsive-font($sizes) {
  @each $size, $value in $sizes {
    font-size: map-get($sizes, $size);
  }
}

@mixin button-styles($bg-color, $border-color, $text-color) {
  background: $bg-color;
  border: 1px solid $border-color;
  color: $text-color;
  padding: 8px 20px;
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
p {
  @include setFontType($text-color, $font-family);
}

h1 {
  @include responsive-font(
    (
      default: $h1-font-size,
    )
  );
}
h2 {
  @include responsive-font(
    (
      default: $h2-font-size,
    )
  );
}
h3 {
  @include responsive-font(
    (
      default: $h3-font-size,
    )
  );
}
h4 {
  @include responsive-font(
    (
      default: $h4-font-size,
    )
  );
}
li {
  list-style: none;
}
a {
  color: $text-color;
}
p {
  @include responsive-font(
    (
      default: $p-font-size,
    )
  );
  margin: 0;
}

button {
  background: none;
  border: none;
  font-family: $font-family;
  transition: 0.2s all;
}

.button-1 {
  @include button-styles(none, #fff, #fff);
  &:hover {
    background-color: $primary-color;
    border: 1px solid transparent;
    padding: 10px 30px;
  }
}
.prev-btn {
  @include button-styles($primary-color, transparent, #fff);
  &:hover {
    @include button-styles(transparent, #fff, #fff);
  }
}
.store-prev-btn {
  @include button-styles($primary-color, transparent, #fff);
  &:hover {
    @include button-styles(transparent, #fff, #fff);
  }
}
a {
  text-decoration: none;
  font-family: $font-family;
}

.custom-container-sm {
  width: 960px;
}
.section-pad {
  padding: $global-sec-pad 0;
}
.section-top-pad {
  padding-top: $global-sec-pad;
}
.section-bottom-pad {
  padding-bottom: $global-sec-pad;
}
.head-text {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 46px;
}
.text-align-left {
  text-align: start;
  align-items: start;
}

.star-wrapper {
  i {
    color: $primary-color;
  }
}
.hero-bg {
  background-image: url(../assets/images/banner-bg.jpg);
  background-position: center center;

  .navbar {
    padding: 16px 0;
    transition: all 0.3s ease;
    .row {
      width: 100%;
    }
    .middle-nav {
      ul {
        margin: 0 auto;
        gap: 20px;
        li {
          a {
            color: $text-color;

            &.active {
              color: $primary-color;
            }
          }
        }
      }
    }
    .contact-head {
      gap: 10px;
      .links {
        display: flex;
        gap: 16px;
        a {
          color: $text-color;
        }
      }

      .contact-wrapper {
        .call-wrapper {
          display: flex;
          align-items: center;
          color: $text-color;
          gap: 16px;

          .number {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
              color: $text-color;
            }
          }
        }
      }
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #232323;
      opacity: 1;
      z-index: 999;
      padding: 8px 0
    }
  }

  .banner {
    .banner-text {
      padding-left: 36px;

      h1 {
        span {
          color: $primary-color;
        }
      }

      .time-location {
        display: flex;
        gap: 20px;
        padding: 30px 0;

        p {
          i {
            padding-right: 8px;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.about-us {
  .about-wrapper {
    .col-lg-6 {
      background-color: $secondary-bg-color;

      .about-text {
        padding: 0 60px;
        p {
          padding: 10px 0;
        }
        button {
          @include button-styles(none, none, $primary-color);
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0;
        }
      }
    }
  }
}

.why-choose {
  .why-choose-wrapper {
    text-align: center;

    .service-wrapper {
      .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;

        .service-icon {
          width: 72px;
          height: 62px;
          overflow: hidden;

          img {
            transform: translate(-53px, -10px);
          }

          .second-icon {
            transform: translate(-275px, -10px);
          }

          .third-icon {
            transform: translate(-491px, -10px);
          }
        }
      }
    }
  }
}

.dishes {
  background-image: url(../assets/images/veg-bg.png);
  background-position: right;
  background-size: 600px;
  background-position-y: 0;
  background-repeat: no-repeat;

  .dishes-head {
    text-align: center;
    margin-bottom: 20px;
  }

  .dish-categories {
    .cat-links {
      margin-bottom: 20px;
      display: flex;
      width: 35%;
      justify-content: space-between;

      button {
        color: #fff;

        &.active {
          color: $primary-color;
        }
      }
    }

    .cat-content {
      .dish-content {
        .dish-content-wrapper {
          background-color: $text-color;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 270px;
            object-fit: cover;
          }

          .dish-detail {
            padding: 15px;

            .dish-star-name {
              display: flex;
              justify-content: space-between;
              align-items: self-end;

              h4 {
                color: #000;
              }
            }

            p {
              color: #23222775;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.ingred {
  background-image: url(../assets/images/veg-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 130px;
  background-size: 500px;

  .custom-container-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ingred-head {
    text-align: center;
    width: 80%;
  }

  .ingred-img {
    width: 60%;
    margin-top: 30px;

    img {
      width: 100%;
    }
  }
}

.discover {
  padding: 80px 0;
  background-image: url(../assets/images/about-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: -3;
  }
}
.testimonials {
  .testiwrapper {
    .head-text {
      margin-left: 0;
    }
    .slider-btn {
      gap: 20px;
      button {
        &:hover {
          padding: 8px 20px;
        }
      }
    }
    .testi-slider-wrapper {
      .row {
        width: 100%;
      }
      .testi-slider {
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .testi-cards {
          .slick-slider {
            margin: 0 -15px;
          }
          .slick-slide {
            padding: 10px;
            background-color: red;
            text-align: center;
            margin-right: 15px;
            margin-left: 15px;
          }
          .slider-1 {
            position: relative;
            padding: 30px;
            .testi-1 {
              background-color: $secondary-bg-color;
              padding: 20px;
              padding-bottom: 80px;
              background-image: url(../assets/images/testi-bg1.png);
              background-position: right bottom;
              background-repeat: no-repeat;
            }
            .second-bg {
              background-image: url(../assets/images/testi-bg2.png) !important;
            }
            .card-bg {
              position: absolute;
              left: 13px;
              bottom: 10px;
              z-index: -1;
            }
          }
        }
        .slick-dots {
          display: none !important;
        }
      }
    }
  }
}
.store-contact-us {
  position: relative;
  background-image: url(../assets/images/veg-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-position-y: -10%;
  background-position-x: -10%;
  .store {
    .col-lg-6 {
      position: relative;
    }
    .slider-store-btn {
      position: absolute;
      right: 158px;
      top: 25px;
      gap: 20px;
      button {
        &:hover {
          padding: 8px 20px;
        }
      }
    }
    .store-slider-wrapper {
      position: absolute;
      left: 50%;
      bottom: 16px;
      transform: translate(-65%, 0);
      img {
        width: 80%;
      }
    }
  }
  .contact-us {
    .form-wrapper {
      .contact-input {
        display: flex;
        flex-direction: column;
        width: 370px;
        margin-bottom: 32px;
        position: relative;
        span {
          color: $primary-color;
          margin-left: 10px;
          margin-bottom: 8px;
        }
        input,
        textarea {
          padding: 10px 20px;
          padding: 10px 20px;
          background: none;
          border: 1px solid #a1a1a1;
          color: $text-color;
          resize: none;
          &::placeholder {
            color: $text-color;
          }
          &:focus {
            border: 1px solid #a1a1a1;
            outline: none;
          }
        }
        textarea {
          height: 150px;
        }
        button {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 8px;
          background-color: $primary-color;
          img {
            width: 25px;
          }
        }
      }
    }
    .head-text {
      margin-left: 0;
    }
    .contact-wrapper {
      display: flex;
      flex-direction: column;
      gap: 36px;
      span {
        color: $primary-color;
      }
    }
  }
  .contact-bg1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    img {
      width: 300px;
    }
  }
  .contact-bg2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -65%);
    z-index: -1;
    img {
      width: 300px;
    }
  }
}
.footer-wrapper {
  position: relative;
  padding-top: 40px;
  &::before {
    content: "";
    background-color: $primary-color;
    height: 1px;
    width: 100%;
    left: 0;
    top: -10px;
    position: absolute;
  }
  .col-lg-2 {
    flex-direction: column;
    align-items: flex-end;
    .footer-links {
      display: flex;
      flex-direction: column;
      align-items: start;
      h4 {
        color: $primary-color;
        margin-bottom: 20px;
        font-size: 18px;
      }
      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          color: $text-color;
        }
      }
    }
  }
  .social-links {
    gap: 10px;
    display: flex;
  }
}
@media (max-width: 1000px) {
  p {
    font-size: 16px;
  }
  .navbar {
    .row {
      justify-content: space-between;
      .col-lg-2 {
        width: fit-content;
      }
      button {
        width: fit-content;
        color: $text-color;
        border: none;
        &:focus{
          outline: none;
          border: none;
          box-shadow: none
        }
        span {
          filter: invert(1);
        }
      }
    }
  }
  .about-text {
    padding: 30px !important;
  }

  .service-wrapper .col-md-4 {
    padding-bottom: 30px;
  }
  .dishes {
    .dish-content {
      padding-bottom: 20px;
    }
  }
  .contact-us .col-lg-5 {
    padding-top: 50px;
  }
  .footer .form-wrapper {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-wrapper {
    .col-lg-3 {
      padding-bottom: 30px;
      justify-content: flex-start !important;
    }
    .col-lg-2 {
      align-items: start;
      padding-bottom: 30px;
    }
  }
}
@media (max-width: 768px) {
  .store {
    padding-bottom: 200px;
  }
}
@media (max-width: 600px) {
  .custom-container-sm {
    width: 100%;
  }
  .row {
    margin: 0 auto;
  }
  .section-pad {
    padding: 50px 0;
  }
  .section-top-pad {
    padding-top: 50px;
  }
  .section-bottom-pad {
    padding-bottom: 50px;
  }
  .banner-text{
    padding-left: 0 !important;
  }
  .store{
    .head-text{
      margin: 0 !important;
    }
  }

  .contact-input {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  .slider-store-btn {
    right: 18% !important;
    top: 17px !important;
  }
}
