.hero-bg {
  background-image: url(../../images/banner-bg.jpg);
  background-position: center center;

  .banner {
    padding-top: 232px;

    .banner-text {
      h1 {
        span {
          color: $primary-color;
        }
      }

      .time-location {
        p {
          i {
            padding-right: 8px;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.about-us {
  .row {
    background-color: $secondary-bg-color;

    .about-text {
      padding: 20px 60px;

      a {
        @include button-styles(none, none, $primary-color);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0;
      }
    }
  }
}

.why-choose {
  .why-choose-wrapper {
    .service-wrapper {
      .service {
        .service-icon {
          figure {
            max-width: 72px;
          }
        }
      }
    }
  }
}

.dishes {
  background-image: url(../../images/veg-bg.png);
  background-position: right;
  background-size: 600px;
  background-position-y: 0;
  background-repeat: no-repeat;

  .dish-categories {
    .cat-links {

      a {
        color: #fff;
        max-width: 70px;
        width: 100%;
        cursor: pointer;

        &.active {
          color: $primary-color;
        }
      }
    }

    .cat-content {
      .dish-content {
        .dish-content-wrapper {
          background-color: $text-color;
          border-radius: 10px;

          img {
            aspect-ratio: 1.1;
            object-fit: cover;
          }

          .dish-detail {
            padding: 15px;

            .dish-star-name {
              h4 {
                color: #000;
              }
            }

            p {
              color: #23222775;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.ingred {
  background-image: url(../../images/veg-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 130px;
  background-size: 500px;

  .custom-container-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ingred-head {
    max-width: 80%;
    width: 100%;
  }

  .ingred-img {
    margin-top: 30px;
    max-width: 60%;
  }
}

.discover {
  background-image: url(../../images/about-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: -3;
  }
}

.testimonials {
  .testiwrapper {
    .testi-slider-wrapper {
      .testi-card {
        i {
          color: $text-color;
        }

        .slider-1 {
          padding: 30px;

          .testi-1 {
            background-color: $secondary-bg-color;
            padding: 20px;
            padding-bottom: 80px;
            background-image: url(../../images/testi-bg1.png);
            background-position: right bottom;
            background-repeat: no-repeat;
          }

          .card-bg {
            bottom: 10px;
            z-index: -1;
          }
        }
      }

      .slick-dots {
        display: none !important;
      }
    }
  }
}

.store-contact-us {
  background-image: url(../../images/veg-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-position-y: -10%;
  background-position-x: -10%;

  .slider-store-btn {
    right: 24%;
    top: 25px;
  }

  .store-bg-wrapper {
    .frame-img {
      max-width: 230px;
      position: absolute;
      top: 80px;
      left: 115px;
    }
  }

}

.contact-us {
  form {
    max-width: 370px;

    .contact-input {
      max-width: 100%;
      margin-bottom: 32px;

      label {
        color: $primary-color;
      }

      input,
      textarea {
        padding: 10px 20px;
        background: none;
        border: 1px solid #a1a1a1;
        color: $text-color;
        resize: none;

        &::placeholder {
          color: $text-color;
        }

        &:focus {
          border: 1px solid #a1a1a1;
          outline: none;
        }
      }

      textarea {
        height: 150px;
      }

      a {
        background-color: $primary-color;
        display: block;
        max-width: 36px;

      }
    }
  }

  .contact-wrapper {
    span {
      color: $primary-color;
    }
  }
}

.contact-bg1 {
  z-index: -1;
  max-width: 300px;
}

.contact-bg2 {
  transform: translate(0, -65%);
  z-index: -1;
  max-width: 300px;

}

@media (max-width: 1366px) {
  .contact-us {
    .custom-container-sm {
      padding: 0;
    }
  }
}

@media (max-width: 992px) {
  .about-wrapper {
    .row {
      background: none !important;

      .about-us-text-wrapper {
        background-color: $secondary-bg-color;
      }
    }

    .about-text {
      padding: 30px !important;
    }
  }

  .service-wrapper .service {
    padding-bottom: 30px !important;
  }

  .dishes {
    .dish-content {
      padding-bottom: 20px;
    }
  }

  .store {
    .store-bg-wrapper {
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  .ingred {
    .ingred-img {
      max-width: unset;
    }
  }

  .contact-us {
    padding-top: 200px;
  }

}

@media (max-width: 576px) {
  .dishes {
    .cat-links {
      justify-content: space-between;

    }
  }

  .slider-store-btn {
    top: 18px !important;

    button {
      padding: 5px 10px;
    }
  }
  .contact-bg1, .contact-bg2{
    max-width: 200px !important;
  }
  .about-text{
    padding-left: 0 !important;
  }
  .contact-us {
    form {
      max-width: 100% !important;
    }
  }
  .contact-bg1, .contact-bg2{
    max-width: 200px !important;
  }
}