$black: #000000;
$dark: #222222;
$white: #ffffff;

/*FONTS*/
$size: 16px;
@font-face {
    font-family: "uptopiaStd" ;
    src: url(../css/fonts/UtopiaStd-Bold.otf) format("opentype"),
      url(../css/fonts/UtopiaStd-Regular.otf) format("opentype");
      font-weight: 600;
  }
$fontJP: "uptopiaStd" !important;
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
    xxl: 1400px // Custom width for the xxl breakpoint,,,
  );
  
  $primary-color: #c08f43;
  $primary-bg-color: #141217;
  $secondary-bg-color: #232227;
  $text-color: #fff;
  $font-family: "uptopiaStd";
  $h1-font-size: 48px;
  $h2-font-size: 32px;
  $h3-font-size: 22px;
  $h4-font-size: 16px;
  $p-font-size: 17px;
  $global-sec-pad: 100px;
