$black: #000000;
$dark: #222222;
$white: #ffffff;

$neutral-0: #ffffff;
$neutral-20: #EAEAEA;
$neutral-30-50: #47474780;
$neutral-100: #E5E6E8;
$neutral-300: #909090;
$neutral-500-50: #47474780;

$orange-100: #ECDAD3;
$orange-120: #DECBC5;
$orange-150: #B0A8A7;
$orange-800: #180B09;

$primary-100: #DED0A6;
$primary-500: #B49B55;
$primary-500-50: #b49b5592;
$primary-700: #714915;

$secondary-200: #303C45;
$secondary-500: #182A38;
$secondary-900: #17191E;
$secondary-800: #17191E;

/*FONTS*/
$size: 16px;

$fontJP: 'Noto Sans JP', 'Roboto', "ヒラギノ角ゴ Pro W6", "ヒラギノ角ゴ Pro W3", sans-serif !important;
